#contact {
    display: block;
    clear: both; 
    padding-top: 50px; 
    width: 100%;
}

.contactustitle {
    text-align: center; 
    padding: 1.042vw; 
    padding-left: 10.417vw; 
    padding-right: 10.417vw;
    padding-bottom: 0px; 
    display:inline;
    border-bottom: 2px solid #000000;
}

.form {
    padding: 0;
    padding-top: 30px;
}

#emailaddress, #phonenumber, #lname, #fname {
    height: 50px;
    width: 500px;
}

#messageus {
    height: 100px;
    width: 500px;
}