#contact {
    display: flex;
    flex-direction: column;
    padding: 50px 20px; 
    width: 100%;
    align-items: center;
}

.contactustitle {
    text-align: center; 
    padding: 1.042vw; 
    padding-left: 10.417vw; 
    padding-right: 10.417vw;
    padding-bottom: 0px; 
    display: inline;
    border-bottom: 2px solid #000000;
}

.form {
    width: 90%;
    max-width: 500px;
    margin-bottom: 20px;
    padding-top: 30px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
    resize: vertical; 
}

input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #363166;
    color: #fff;
    border: none;
    cursor: pointer;
}